extends base

block content
    main.main
        .signin-form
            h2.heading-secondary.ma-bt-lg create new account
            form.form
                .form__group
                    label.form__label(for='username') Username 
                    input#email.form__input(type='username', placeholder='gaurav123', required,minlength='3')
                .form__group
                    label.form__label(for='email') Email 
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--green Singup